body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/books.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#link {
  text-decoration: none;
  margin-left: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-page {
  background-color: rgba(30, 30, 30, 0.817);
  width: 50vw;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.landing-page h1 {
  color: rgb(254, 254, 254);
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
}
.landing-page h6 {
  color: rgb(175, 174, 174);
  margin-bottom: 30px;
}
.login-label {
  color: aliceblue;
}
.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20px;
}
.form input {
  height: 3rem;
  border-radius: 0.2rem;
  border: none;
  margin-bottom: 20px;
  background-color: #4c4c4cab;
}
.signup-btn {
  background-color: red;
  color: white;
  font-size: 1.2rem;
  height: 3rem;
  border-radius: 0.2rem;
  border: none;
}
.signup-btn:hover {
  background-color: rgb(181, 2, 2);
}
.outlet-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.banner {
  width: 100vw;
  padding: 10px;
  background-color: #302f2f;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logout {
  background-color: red;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 0.2rem;
}
#logout:hover {
  background-color: rgb(203, 3, 3);
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  background-color: rgb(1, 4, 20);
  padding: 20px;
}

#logo {
  color: red;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 0px 0px transparent, 1px 1px #3736366c, 2px 2px #3736366c,
    3px 3px #3736366c, 4px 4px #3736366c, 5px 5px #3736366c, 6px 6px #3736366c,
    7px 7px #3736366c, 8px 8px #3736366c, 9px 9px #3736366c, 10px 10px #3736366c,
    11px 11px #3736366c, 12px 12px #3736366c, 13px 13px #3736366c;
}
.logo {
  height: 125px;
  width: 125px;
  border-radius: 62.5px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(30, 30, 30, 0.817);
  width: 80%;
  min-height: 50vh;
}

.profile-greetings {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

.profile-image {
  height: 125px;
  width: 125px;
  border-radius: 62.5px;
}

.booklist h3 {
  font-size: 1.6rem;
  color: rgb(166, 166, 166);
}

.updateUser-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.update-form {
  width: 60%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #e7e6e682;
  box-shadow: 0 0 50px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.update-info {
  color: rgb(243, 241, 241);
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.update-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
#show-update-input {
  color: red;
  background-color: #302f2f00;
  border: none;
}
#show-update-input:hover {
  color: rgb(173, 1, 1);
}
.update-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.update-input input {
  width: 80%;
}
.update-info-row input {
  width: 80%;
  font-size: 1.2rem;
  margin-top: 5px;
}

.bookList {
  flex: 70%;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  background-color: rgb(180, 190, 250);
}

.book {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 254, 254);
  margin: 5px;
  padding: 10px;
  background-image: url("./images/blueBook.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 8px black;
}

.bookList .book span {
  text-shadow: 4px 4px 8px black;
  color: rgb(255, 202, 67);
  font-family: fantasy;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

#bookTitle {
  font-size: 4rem;
  font-weight: bold;
}
.bookList button {
  width: 3rem;
  height: 3rem;
  border: 2px solid rgba(255, 255, 255, 0);
  font-size: 1.5rem;
  background-color: rgb(10, 194, 50);
  border-radius: 1.5rem;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.bookListContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookList button:hover {
  border: 3px solid white;
}

.header button:hover {
  border: 3px solid white;
  box-shadow: 4px 4px 8px rgb(49, 49, 230);
}

.add-book-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add-book-container h1 {
  color: rgb(0, 17, 208);
  text-shadow: 10px 20px 30px black;
  font-size: 4rem;
  font-family: fantasy;
  font-weight: bold;
}
.add-book-form {
  width: 60%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #e7e6e682;
  box-shadow: 0 0 50px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add-book-form input {
  width: 70%;
  font-size: 1.5rem;
  margin-bottom: 20px;
  background-color: #b0ffc9;
}
