body {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  flex: 30%;
  background-color: rgb(28, 0, 155);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.header input {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 50px;
  width: 300px;
  font-size: 25px;
}
.header button {
  background-color: rgb(10, 194, 50);
  color: white;
  height: 100px;
  width: 150px;
  margin: 10px;
  font-size: 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.bookList {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.book {
  width: 500px;
  height: 30px;
  display: flex;
  color: rgb(255, 254, 254);
  margin: 15px;
}

.bookList .book {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookList .book span {
  display: grid;
  place-items: center;
  border: 5px solid rgb(19, 4, 155);
  color: rgb(19, 4, 155);
  width: 100%;
  height: 50px;
  font-size: 35px;
  padding: 5px;
  background-color: rgb(253, 253, 253);
}
.bookList button {
  width: 100px;
  height: 50px;
  border: none;
  background-color: rgb(10, 194, 50);
  border-radius: 25px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.list {
  height: 100%;
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/blueBook.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bookList button:hover {
  box-shadow: 2px 2px 8px white;
  color: blue;
}
