body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 10px;
  background-color: rgb(28, 0, 155);
  margin-bottom: 30px;
}
.nav-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar h1 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5rem;
}

.logo {
  height: 125px;
  width: 125px;
  background-color: rgb(254, 254, 254);
  border-radius: 62.5px;
  margin-left: 20px;
}

h3 {
  font-size: 4rem;
  color: rgb(28, 0, 155);
  padding: 0;
  margin: 0px;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  flex: 30%;
  background-color: rgb(80, 99, 209);
  width: 50%;
  padding: 30px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  box-shadow: 4px 4px 8px gray;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  font-size: 2rem;
}

.header input {
  border-radius: 5px;
  height: 50px;
  width: 400px;
  font-size: 25px;
  margin-bottom: 10px;
}
.header button {
  background-color: rgb(10, 194, 50);
  color: white;
  margin: 10px;
  padding: 20px;
  font-size: 2rem;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0);
}

.bookList {
  flex: 70%;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  background-color: rgb(180, 190, 250);
}

.book {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 254, 254);
  margin: 5px;
  padding: 10px;
  background-image: url("../public/blueBook.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 8px black;
}

.bookList .book span {
  text-shadow: 4px 4px 8px black;
  color: rgb(255, 202, 67);
  font-family: fantasy;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

#bookTitle {
  font-size: 4rem;
  font-weight: bold;
}
.bookList button {
  width: 3rem;
  height: 3rem;
  border: 2px solid rgba(255, 255, 255, 0);
  font-size: 1.5rem;
  background-color: rgb(10, 194, 50);
  border-radius: 1.5rem;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.bookListContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookList button:hover {
  border: 3px solid white;
}
.header button:hover {
  border: 3px solid white;
  box-shadow: 4px 4px 8px rgb(49, 49, 230);
}
